.jsonForm {
    margin-inline-start: 15px;
    margin-top: 25px;
    background-color: #090909;
    overflow: overlay;
    height: 260px;
    width: 800px;
    margin-inline-start: 15px;
    padding: 10px;
} 